.delivery {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  flex-wrap: wrap;
}
.delivery__main {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 20px;
}
