.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.detail__img {
  width: 650px;
  height: 600px;
}
.detail__data {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.detail__name {
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  color: #454545;
}
.detail__stock {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.detail__stock p {
  color: #b3b3b3;
  font-size: 16px;
}
.detail__stock :last-child {
  color: #4d932c;
  font-size: 20px;
}
.detail__price {
  color: #101010;
  font-weight: 700;
  font-size: 45px;
}
.detail__desc {
  font-size: 20px;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
}
.detail__market {
  display: flex;
  gap: 20px;
  align-items: center;
}
.detail__count {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  width: 150px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  font-size: 20px;
}

.detail__decBtn {
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background-color: #454545;
  padding: 16px 50px;
}
.detail__decBtn:hover {
  background-color: #5d5a5a;
}
.detail__heart {
  cursor: pointer;
  font-size: 60px;
}
