.carousel {
  margin-top: 30px;
  padding: 20px;
}
.carousel__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.carousel__title {
  font-size: 45px;
  font-weight: 700;
  color: #454545;
}
.carousel__btn {
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 10px;
  width: 50px;
  text-align: center;
}
.carousel__carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 50px;
}
.carousel__carousel ::-webkit-scrollbar {
  display: none;
}
@media (max-width: 500px) {
  .carousel__title {
    font-size: 25px;
  }
}
