.adminRoute {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  &__main {
    display: flex;
    gap: 10px;
    color: #454545;
    &-link {
      padding: 10px 50px;
    }
    &-link.active {
      border: 1px solid #454545;
      border-radius: 24px;
      transition: all 0.2s;
    }
    &-link.active:hover {
      color: #fff;
      background-color: #454545;
    }
  }
  &__home {
    background-color: #454545;
    color: #fff;
    padding: 14px 55px;
    border: 1px solid #454545;
    border-radius: 24px;
    transition: all 0.2s;
  }
  &__home:hover {
    background-color: #fff;
    color: #454545;
  }
}
